
body
{
font-family: 'Open Sans', sans-serif;
color:7581a1;
font-size:16px;
line-height:26px;

}
.wrap
{
max-width:1110px;


}
.box-heder {
    padding-top:40px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    
}
.page-header{
    
    background-size: cover;
   background-repeat: no-repeat;
   padding: 30 0 330 ;
   background-image: url(file:///C:/Users/%D0%A2%D1%80%D1%83%D0%B4%D1%8F%D0%B3%D0%B0/Documents/GitHub/Limpon/heder.png);
   position: relative;
}
.nav
{
font-size:12px;
font-weight:700;
color:#6e7ea9; 
letter-spacing: 2px;
text-transform:uppercase;
list-style-type:none;
margin:0;
padding:10;
display:flex; 
list-style-type:none;

}
.logo{
    display: block;
    width:181 ;
    height: 49;
    background-image: url(file:///C:/Users/%D0%A2%D1%80%D1%83%D0%B4%D1%8F%D0%B3%D0%B0/Documents/GitHub/Limpon/logo.png);
}
.nav li{
padding:0 25px;
}
.page-company  
{
    display:flex; 
    justify-content: space-between;
    margin: 0;
    padding: 0;
    align-items: center;
    margin:0 auto;
    list-style-type:none;
    max-width:1110px;
    
}
.box-sponsors{
    
    background-image: url(file:///C:/Users/%D0%A2%D1%80%D1%83%D0%B4%D1%8F%D0%B3%D0%B0/Documents/GitHub/Limpon/sponsors.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding:106 0 99 ;
}


h1
{
font-size:70px;
font-weight:700;
color:#192b59;
max-width: 540;
line-height:1.1;
letter-spacing:3.2;
margin-bottom:65;
margin: 150 200;
padding-left: 50px;

}
.btnitem
{
color:#6e7ea9
}
.btnfirst
{
    color: #fff;
    font-size: 8px;
    font-weight: 700;
    letter-spacing: 2.5;
    background-color: #1085e4;
    text-transform: uppercase;
    padding: 21px 38px;
    border: 1px solid #cbdbe8;
    border-radius: 30px;


}
.btnfirst:hover
{
color:#000;
background:white;
border:1px solid #cbdbe8;

}
.butfree
{
color:#fff;
font-size:12px;
font-weight:400;
background-color:#1085e4;
text-transform:uppercase;
padding:20px 40px;
letter-spacing:2.5;
border-radius:30px;
border:1px solid #cbdbe8;

}
.butfree:hover
{
color:#000;
background:white;
border:1px solid #cbdbe8;

}

.butsec
{
color:#7e8bae;
font-size:12px;
font-weight:700;
background-color:#cbdbe8;
text-transform:uppercase;
padding:21px 40px;
border-radius:30px;
letter-spacing:2.5;
border:1px solid #cbdbe8;
}
.butsec:hover
{
color:#000;
background:white;

}
.btngroup{
    margin-bottom: 60px;
}

.btngroup a + a
{
margin-left:15px;
color:#fff;


}
.list-stat
{
display:flex;
list-style-type:none;
justify-content: space-around;

}
.list-stat>li>span
{
display:block;
font-size:60px;
color: #bacbdc;
letter-spacing:0px;
margin-bottom: 20px;
}
.list-stat>li
{
font-size:12px;
color:#1085e4;
font-weight:700;
text-align:center;
letter-spacing:2px;

}
a
{
text-decoration:none;
}
.grid h2
{
font-size:40px;
color:#192b59;
font-weight:700;
}
.grid h2 span
{
font-size:14px;
color:#1085e4;
display:block;
}
.grid-item h3
{
font-size:20px;
font-weight:600;
color:#192b59;
}
.grid-item a
{
font-size:14px;
font-weight:400;
color:#1085e4;
}

.appbtn
{

    text-decoration:none;
    list-style-type:none;
    display: flex;  
}
ul,ol
{
text-transform:upprcase;

}
.title-h2
{
 font-size:50px;
color:#192b59;
}
.title-h2 span
{
    font-size:14px;
    color:#1085e4;
    display: block;
    text-transform: uppercase;
    margin-bottom: 50px;
    
display:block;

}
.title-h2 p {
    font-family: 'Open Sans', sans-serif;
    color:7581a1;
    font-size:16px;
    line-height:26px;
    font-weight:400;
}
.page-stat .title-h2{
    text-align: center;
    max-width: 500px;
    letter-spacing: 2px;
    line-height: 45px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.page-stat{
    background-color: edf6ff;
    padding:80px ;
}
.page-screan {
    background-color: edf6ff; 
    padding:80px ;
    text-align: center;
    margin-bottom: 0;
}

.page-screan .title-h2{
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 30px;
    margin: 30 ;
    margin-bottom: 30px;
}
.box-price{
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 20;
    padding: 0 ;
    
}
.page-plan .title-h2{
    text-align: center;
    max-width: 500px;
    letter-spacing: 2px;
    line-height: 45px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.box-item,.active
{
  
   position: relative;
    background-color: f5faff;
    padding: 70px 55px 80px;
    padding-right: 65px;
    text-align: center;
   
}
.active{background-color: #192b59;}
.box-item ul , .active ul{

    list-style-type:none;
    text-align: center;
    line-height: 35px;
    flex-basis: 32%;
    font-size: 14px;
    list-style: none;
    margin: 0 auto 44px;
}
.box-item h3 ,.active h3 {
    
    font-size: 50px;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 15;
}
.box-item:first-child h3{
    margin-bottom: 35px;
}
.box-item h3 span {
        
 font-size: 12px ;
}

.active span {
font-size: 12px;
}
.active li, .box-item li{ 
    margin-top: 12;
    margin-bottom: 14;
    padding-right: 25px;
    

}
.active .butfree{
    margin-top: 10;
}
.listo-company-item{
    display: block;
    margin: 0;
    padding: 0;
    

}
.company-one{
    background-image: url(file:///C:/Users/%D0%A2%D1%80%D1%83%D0%B4%D1%8F%D0%B3%D0%B0/Documents/GitHub/Limpon/two.png);
  
    flex-basis: 198px;
    height: 58;

}
.company-two{
    background-image: url(file:///C:/Users/%D0%A2%D1%80%D1%83%D0%B4%D1%8F%D0%B3%D0%B0/Documents/GitHub/Limpon/one.png);
    flex-basis: 200px;
    height: 69;

}
.company-three{
    background-image: url(file:///C:/Users/%D0%A2%D1%80%D1%83%D0%B4%D1%8F%D0%B3%D0%B0/Documents/GitHub/Limpon/three.png);
    flex-basis: 201px;
    height: 47;
}
.company-four{
    background-image: url(file:///C:/Users/%D0%A2%D1%80%D1%83%D0%B4%D1%8F%D0%B3%D0%B0/Documents/GitHub/Limpon/four.png);

    flex-basis: 200px;
    height: 69;
}
.scren-png{
  display: block;
  background-image: url(file:///C:/Users/%D0%A2%D1%80%D1%83%D0%B4%D1%8F%D0%B3%D0%B0/Documents/GitHub/Limpon/scr2.png);
  background-repeat: no-repeat;
  position: absolute;
  width: 896px;
  height: 740;
  right: 0px;
  top:250px;
 
}
.page-subscribe{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(10,32,144,1) 50%, rgba(35,119,205,1) 100%);
}